In [1]:
import pandas as pd

In [2]:
data_frame = pd.read_csv('cereals.csv')

In [4]:
data_frame.head()

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100%_Bran,N,C,70,4,1,130,10.0,5.0,6.0,280.0,25,3,1.0,0.33,68.402973
1,100%_Natural_Bran,Q,C,120,3,5,15,2.0,8.0,8.0,135.0,0,3,1.0,1.00,33.983679
2,All-Bran,K,C,70,4,1,260,9.0,7.0,5.0,320.0,25,3,1.0,0.33,59.425505
3,All-Bran_with_Extra_Fiber,K,C,50,4,0,140,14.0,8.0,0.0,330.0,25,3,1.0,0.50,93.704912
4,Almond_Delight,R,C,110,2,2,200,1.0,14.0,8.0,NaN,25,3,1.0,0.75,34.384843

In [6]:
data_frame.tail(2)

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
75,Wheaties,G,C,100,3,1,200,3.0,17.0,3.0,110.0,25,1,1.0,1.00,51.592193
76,Wheaties_Honey_Gold,G,C,110,2,1,200,1.0,16.0,8.0,60.0,25,1,1.0,0.75,36.187559

In [13]:
data_frame.name.head(6)

0                    100%_Bran
1            100%_Natural_Bran
2                     All-Bran
3    All-Bran_with_Extra_Fiber
4               Almond_Delight
5      Apple_Cinnamon_Cheerios
Name: name, dtype: object

In [15]:
type(data_frame.name) # 판다스에서는 열을 Series라고 부른다.
# 즉, 데이터프레임은 시리즈의 결합체이다.
# 그리고 이 시리즈는 리스트로 만든다.

pandas.core.series.Series

In [25]:
# 데이터프레임 생성을 위해 먼저 리스트를 생성한다.
s1 = pd.core.series.Series( [1, 2, 3] )
s2 = pd.core.series.Series( ["one", "two", "three"] )

In [27]:
type(s1)
type(s2)

pandas.core.series.Series

In [33]:
# 위에서 생성한 리스트로 데이터프레임 생성.
pd.DataFrame(data = dict(num = s1, word = s2))

   num   word
0    1    one
1    2    two
2    3  three